{{define "body"}}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <p>Hello:</p>
    <p>You recently requested a link to reset password.</p>
    <p>Click on the link below to get started:</p>
    <p><a href="{{.Link}}">{{.Link}}</a></p>

    <p>This link expires in 10 minutes.</p>
    
    <p>--<br />Widgets Co.</p>
  </body>
</html>
{{end}}